# SPDX-FileCopyrightText: Copyright DB InfraGO AG
# SPDX-License-Identifier: CC0-1.0

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, merge-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        exclude: '^tests/data/decl/[^/]+\.ya?ml$'
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: Insert license headers (shell-style comments)
        files: '(?:^|/)(?:.*\.(?:py|sh|toml|ya?ml)|Dockerfile|Makefile)$'
        exclude: '(?:^|/)\..+|^docs/Makefile$'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: Insert license headers (XML-style comments)
        files: '\.(?:html|md|xml)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "<!--| ~| -->"
      - id: insert-license
        name: Insert license headers (C-style comments)
        files: '\.(?:css|js|ts)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "/*| *| */"
      - id: insert-license
        name: Insert license headers (reST comments)
        files: '\.rst$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "..|  |"
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        additional_dependencies:
          - docformatter[tomli]
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies:
          - pydocstyle[toml]
        args:
          - --add-ignore=D1
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
  - repo: local # mypy
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types_or: [python, toml, yaml]
        pass_filenames: false
        args: [capellambse, tests]
        additional_dependencies:
          - mypy==1.6.0
          - capellambse[cli,decl,docs,httpfiles,png,termgraphics,test]
          # click 8.1.4 breaks mypy, see <https://github.com/pallets/click/issues/2558>
          - click!=8.1.4
          - sphinx
          - types-Pygments==2.15.0.1
          - types-colorama==0.4.15.11
          - types-docutils==0.20.0.1
          - types-pytz==2023.3.0.0
          - types-pyyaml==6.0.11
          - types-requests==2.25.11
          - types-setuptools==68.0.0.1
          - types-six==1.16.21.8
  - repo: local # pylint
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        additional_dependencies:
          - pylint==3.0.1
        args: [-rn, -sn, -dfixme, -dduplicate-code]
  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
  - repo: local # commitlint
    hooks:
      - id: commitlint
        name: commitlint
        entry: commitlint -e
        language: node
        stages: [commit-msg]
        pass_filenames: false
        always_run: true
        additional_dependencies:
          - "@commitlint/cli"
