# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

name: Lint

on:
  push:
    branches: ["*"]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: pip
          cache-dependency-path: pyproject.toml
          python-version: "3.11"
      - name: Upgrade pip
        run: python -m pip install -U pip
      - name: Install pre-commit
        run: python -m pip install pre-commit
      - name: Run Pre-Commit
        run: pre-commit run --all-files
